// src/styles/variables.scss
$primary-color: #1989fa;
$success-color: #07c160;
$warning-color: #ff976a;
$danger-color: #ee0a24;
$text-color: #333;
$text-gray: #666;
$border-color: #ebedf0;
$background-color: #f5f5f5;

// 微信侧边栏固定宽度
$sidebar-width: 360px;
